/************************************************ MAIN PAGE LANDING PAGE ***********************************************/
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
/************************************************ STYLE NAVIGATION AND LOGO ***********************************************/
nav {
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    /* Ensure the nav bar has a minimum height if needed */
    min-height: 60px;
    z-index: 10;
    position: relative; /* Establishes a positioning context for absolute positioning */
}

nav a:hover {
    background-color: #555;
}

#logo {
    position: absolute;
    left: 0; /* Aligns the logo to the left side of the navbar */
    top: 50%; /* Aligns the logo to the vertical middle of the navbar */
    transform: translateY(-50%); /* Ensures the logo is centered vertically */
    z-index: 11; /* Ensures the logo sits above the navbar */
}

#logo img {
    height: 5vh; /* Sets the height relative to the viewport height */
    width: auto; /* Keeps the aspect ratio of the image */
}

#nav-links {
    display: flex;
    justify-content: center;
    flex: 1;
    list-style-type: none; /* In case it's an unordered list */
}

#nav-links a {
    margin: 0 10px;
    text-decoration: none;
    color: white;
    /* Your additional link styles here */
}

/* Adjustments for smaller screens */
@media (max-width: 600px) {
    #logo img {
        height: 10vw; /* Larger percentage of the viewport width for smaller screens */
        max-height: 50px; /* Adjust max-height as needed */
    }

    /* Adjust nav links for smaller screens if necessary */
    #nav-links {
        flex-direction: column;
    }
}
/***************************************************************************************************************************/
#landing-page {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9; /* Lower z-index to sit below the logo */
    text-align: center;
    color: white;
    height: 100%;
    width: 100%;
    padding: 50px 20px;
    background-image: url("https://www.worldatlas.com/upload/5b/c5/7c/cf7ebff1-7d35-4d0f-9f73-95b45f45880b.jpeg");
    background-size: cover;   /* Cover the entire div area */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Do not repeat the image */

    display: flex; /* Set the display to flex */
    align-items: center; /* Align items vertically in the center */
    justify-content: center; /* Align items horizontally in the center */
    flex-direction: column;
}

#comment-start {
    max-width: 80vh; /* Limit the width of the content */
    padding: auto; /* Add padding around the text */
    font-size:x-large;
}

.view {
    display: none;
    min-height: 400px;
    background-color: #f4f4f4;
    width: 100vw;
    height: 100vh;
}

#views {
    display: none;
    position: relative;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#USStocksView{
    overflow: scroll;
}
/*********************************************************************************************************************/

/**********************************************US STOCKS VIEW*****************************************************/
.crypto-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .crypto-table th, .crypto-table td {
    text-align: right;
    padding: 8px;
  }
  
  .crypto-table th {
    background-color: #f2f2f2;
  }
  
  .crypto-table td {
    background-color: #fff;
  }
  
  .crypto-table tr:nth-child(odd) {
    background-color: #f9f9f9;
  }
  
  /* Styles for positive and negative changes */
  .crypto-table .positive {
    color: green;
  }
  
  .crypto-table .negative {
    color: red;
  }
  
/******************************************************Trading View********************************************************/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#chart{
    width: 100vw;
    height: 93.5%; /*ratio with the footer*/
    position: absolute;
}

#TradingView{
    height: 100vh; /* Full height of the viewport */
    width: 100vw; /* Full width of the viewport */
}

/***********************************************************COMMUNITY********************************************************/
#CommunityView{
  margin: 20px 20px;
}

a {
  text-decoration: none;
  color: black;
}

h1, h4, ol {
  margin: 0;
  padding-left: 20px;
}

p {
  margin: 5px 0;
}

.top-bar {
  background-color: skyblue;
}
textarea{
  width: 80%;
  height: 80px;
  margin-left: 20px;
}

button #add-comment{
  display: block;
  margin: 10px 0;
}

.comments{
  margin: 40px 0;
  padding-left: 20px;
}

.comment{
  margin: 20px 0;
}

.main {
  background-color: #F6F6EF;
  display: grid;
  padding: 10px 40px;
}

.row {
  padding: 5px 0;
}

.bottom, .top-comment {
  display: flex;
  color: grey;
  font-size: 12px;
  margin-left: 20px;
}

.timestamp{
  padding-right: 10px;
}

.comment-ts{
  padding-right: 10px;
}

